*.class

# Package Files #
*.jar
*.war
*.ear
!.antlr-generator-3.2.0-patch.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Build files
target/
bin/
