<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.incquerylabs.emdw.common.nature"
         name="EMDW Common Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.incquerylabs.emdw.common.nature.EMDWCommonNature">
         </run>
      </runtime>
   </extension>

</plugin>
