<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xumlrt.profile -->
      <package
            uri="http://modelexecution.eltesoft.hu/xumlrt/"
            class="hu.eltesoft.modelexecution.profile.xumlrt.XUMLRTPackage"
            genModel="profile/xumlrt.profile.genmodel"/>
   </extension>

</plugin>
