<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2015-2016 IncQuery Labs Ltd., ELTE-Soft Kft. and Ericsson AB
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Akos Horvath, Abel Hegedus, Zoltan Ujhelyi, Adam Balogh, Boldizsar Nemeth - initial API and implementation
 -->

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xumlrt.profile -->
      <package
            uri="http://modelexecution.eltesoft.hu/xumlrt/"
            class="hu.eltesoft.modelexecution.profile.xumlrt.XUMLRTPackage"
            genModel="profile/xumlrt.profile.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://XUMLRT_PROFILE/"
            target="platform:/plugin/hu.eltesoft.modelexecution.profile/profile/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="xUMLRT"
            path="pathmap://XUMLRT_PROFILE/xumlrt.profile.uml">
      </profile>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://XUMLRT_PROFILE/xumlrt.profile.uml#_HaqtUBDoEeWE3_d6VQejPQ"
            uri="http://Papyrus/xUMLRTProfile">
      </profile>
   </extension>

</plugin>
