<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2015-2016 IncQuery Labs Ltd., ELTE-Soft Kft. and Ericsson AB
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Akos Horvath, Abel Hegedus, Zoltan Ujhelyi, Daniel Segesdi, Peter Lunk, Boldizsar Nemeth - initial API and implementation
 -->

<plugin>
   <extension
         id="com.incquerylabs.uml.papyrus.incqueryengine"
         name="EMF-IncQuery Engine Service for Papyrus"
         point="org.eclipse.papyrus.infra.core.service">
      <service
            classname="com.incquerylabs.uml.papyrus.IncQueryEngineService"
            description="This service shares IncQueryEngine instances associated with a Papyrus ModelSet."
            priority="1"
            startKind="lazy">
         <dependsOn
               description="ModelSet is required to access IncQueryEngine"
               serviceKeyRef="org.eclipse.papyrus.infra.core.resource.ModelSet">
         </dependsOn>
      </service>
   </extension>

</plugin>
